* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f8fa;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.text-align {
    text-align: center;
}

.container-full {
    width: 100%;
}

.container {
    max-width: 420px;
    margin: 0 auto;
    padding: 0 15px;

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        max-width: 720px
    }

    // Large devices (desktops, 992px and up)
    @media (m-width: 992px) {
        max-width: 960px
    }

    // X-Large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        max-width: 1140px
    }

    // XX-Large devices (larger desktops, 1400px and up)
    @media (min-width: 1400px) {
        .container {
            max-width: 1360px;
        }
    }
}