.btn {
    position: relative;
    font-weight: 400;
    margin: 0.4rem 0.9rem;
    border: 1px solid;
    font-style: normal;
    white-space: normal;
    transition: all 0.2s ease-out;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    word-break: break-word;
    line-height: 1;
    letter-spacing: 0.02em;
    border-radius: 5px;
    font-family: 'Jost', sans-serif;
    font-size: 1rem;
    background-color: $color-orange;
    border-color: $color-orange;
    color: $color-default;

    &:hover {
        background-color: $color-default;
        color: $color-orange;
    }
}

.btn-small {
    padding: 1.05rem 1.5625rem;
    border-radius: 5px;
}